@import 'styles/elements/color';

.wrap {
  padding: 60px;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    row-gap: 24px;
  }
}

.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden !important;
  padding-bottom: 20px;

  //   padding: 60px;
  //   column-gap: 24px;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    row-gap: 24px;
  }

  .loading,
  .end {
    margin: auto;
    margin-top: 30px;
  }

}

.card {
  flex-basis: 33.33%;

  box-sizing: border-box;

  &_item {
    background: linear-gradient(to right, #3BCDC4, #B4FBD3);

    padding: 24px;

    border-radius: 16px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    box-shadow: 0 0 15px 8px $shadow_grey;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &>* {
      color: $white;
    }
  }
}