@import 'styles/elements/color';

.root {
  position: fixed !important;
  left: 0;
  top: 0;
  height: 100vh !important;
  width: 200px !important;
  background-color: $second;


  .container {
    padding: 24px;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    .logo {
      width: 36px;
      height: 36px;
      fill: $four;
      margin-right: 12px;
    }
  }


  .content {
    height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 12px;


    .list {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 12px;

      &:global(.active) {
        padding: 30px;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 12px;

      }

      &.isActive {
        color: white;
        background-color: pink;
        border-radius: 20px;

        &>svg {
          * {
            fill: white !important;

          }
        }
      }

      &.default {}
    }
  }
}

.thump {
  background-color: $four;
  border-radius: 20px;
  opacity: 0.5;
}